// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

    padding: 2em;
    
    h1 {
        color: #e7e7e7;
    }
    
    p {
        color: #434343;
        font-size: 2em;
    }
    
    div {
        margin: 20px 0;
    }

}